VITE_SUPABASE_URL=https://iteknpvluggyjvwqqhcw.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml0ZWtucHZsdWdneWp2d3FxaGN3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc4MDMxMzUsImV4cCI6MjA5MzM3OTEzNX0.-HOZ_zqf5ywLWoQaM1F-EDUUn0H7L2Gq8nSuDlkjQ5Y
VITE_ADMIN_EMAIL=test@gmail.com
